body{
	margin: 0;

}
*{
	box-sizing: border-box;
}

.clearfix{
	clear:both;
}

.container{
	width: 489px;
	max-width:100%;
	margin:0 auto;
	
}


.block1{
	width: 100%;
	padding-left: 21px;
	
}


.clock_first{
	float: right;
	width: 69%;
	padding-right: 63px;
	border:1px solid #cccccc;
	border-left: none;
	padding-top: 16px;
	padding-bottom: 14px;

}

.clock_first1{
	float: right;
	width: 69%;
	padding-right: 63px;
	border-left: none;
	padding-top: 16px;
	padding-bottom: 14px;

}
.first_block{
	float:left;
	border-left: 1px solid #7eb4ca;
	
}

.second_block{
	float: right;

}




.user_name{
font-family: 'Arial';
	font-size: 16px;
	font-weight: bold;
	color:#333333;
	text-align: center;}

.user_perfomance{
	font-family: 'Arial';
	font-size: 12px;
	text-align: center;

}

.text_block_foto p{
	font-family: 'Arial';
	font-size: 0.875em;
	
	
}

.foto_ver{
	float: left;
    position: relative;
    bottom: 32px;
    right: 14px;
}

.text_block_foto{
	/*width: 97%;
	height: 100%;*/
	font-family: 'Arial';
	font-size: 14px;
	background-color: #fffbc8;
	border:1px solid #cecabf;
	border-radius: 5px;
}

.servise{
	float: right;
    font-family: 'Arial';
    font-size: 13px;
    margin-right: 52px;
}

.block2{
	margin-top: 35px;
    width: 61%;
    float: right;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding-top: 35px;

}

.bron{
	font-family: 'Arial';
	font-size: 13px;
	color: #fff;
	float: left;
	width: 67%;
	height: 50%;
	background-color: #b1e19b;
	padding: 9px 6px 8px 7px;

}

.bron1{
	font-family: 'Arial';
    font-size: 87%;
    font-weight: bold;
    /* margin-left: 21px; */
    float: right;
    margin-right: 63px;
    padding: 9px 6px 8px 7px;


}

.block3{
	margin-top: 35px;
    width: 61%;
    float: right;
    margin-right: 63px;
    border-top: 1px solid #cccccc;
    padding-top: 35px;

}


.paceje_count{
	margin-top: 3px;
	width: 52%;
	background-color: #ace2f8;
	float: left;
	padding: 7px 7px;
	font-family: 'Arial';
	font-size: 0.813em;
	color:#fff;
	font-weight: bold;
}

.paceje_count1{
    border-radius: 3px;
    float: right;
    font-weight: bold;
   
}

.paceje_count2{
	margin-top: 50px;
    border-radius: 3px;
    /* float: right; */
    font-weight: bold;

}
.paceje_count3{
    margin-top: 19px;
    border-radius: 3px;
    /* float: right; */
    font-weight: bold;}



.hotel{
	margin-top: 3px;
	width: 50%;
	background-color: #ace2f8;
	float: left;
	padding: 7px 7px;
	font-family: 'Arial';
	font-size: 13px;
	color:#fff;
	font-weight: bold;
	border-radius: 3px;
	 margin-bottom: 5px;

}

.hotel1{
	float: right;
	margin-right: 63px;
    padding-top: 7px;
    font-weight: bold;
   font-size: 87%;


}

.last_block{
	padding-bottom: 19px;
}

.all{
	padding-top: 15px;
	float: right;

}

.all1{
	float: left;
	width: 50%;
}

.all2{
	float: left;
	margin-left: 208px;	
	width: 50%;
}






.first_box {  font-family: 'Arial';
    font-size: 13px;
    color: #fff;
    float: left;
    height: 50%;
    background-color: #b1e19b;
	padding: 9px 6px 8px 7px;
	margin-bottom: 5px;
}



.amount_block{ 
   font-family: 'Arial';
    font-size: 13px;
    color: #fff;
    float: left;
    height: 50%;
    background-color: #fff;
    padding: 9px 6px 8px 7px;
    margin-bottom: 5px;
}


.first_box_amount { 
    font-family: 'Arial';
    font-size: 16px;
    color: #000;
    font-weight: bold;
    float: left;
    height: 50%;
	padding: 9px 6px 8px 7px;
	margin-bottom: 5px;
}


	
.list_menu ul li{
	display: inline-block;
	
}


.list_menu  a{
	font-size: 14px;
	margin-left: 12px;
}
.first_sentenses{
	font-family: 'Arial';
	font-weight: bold;
	font-size: 16px;
	
}


.count{
	float: right;
}

.list_menu li:nth-child(5){
	font-family: 'Arial';
	font-size: 0.875em;
}

.list_menu li:nth-child(3){
	font-family: 'Arial';
	font-size: 0.875em;
	margin-left: 6px;
	margin-right: 20px;


}

.list_menu li:nth-child(4){
	margin-left: 21px;
	margin-top: 3px;
	
}


.list_menu li:nth-child(6){
	margin-right: 7px;
	
}

.name_block{
	float: left;
	font-family: 'Arial';
	font-weight: bold;
	font-size: 14px;
	padding-right: 10px;
    margin-left: 18px;

}

.date_block{
	color: #959595;
    font-family: 'Arial';
    font-size: 14px;
    
}

.comments_second_block{
	margin-left: 10px;
}

.comments{
	    padding-left: 39px;
	    padding-right: 21px;
	    margin-top: 21px;

}


.comments_first{
	font-family: 'Arial';
    font-size: 14px;
    position: relative;
    background: #f2fbff;
    border: 1px solid #cccccc;
        margin-left: 21px;
    margin-right: 21px;
    /* padding: 20px; */
    margin-top: 21px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    
}


.comments_first:after, :before {
 bottom: 100%;
 border: solid transparent;
 content: " ";
 height: 0;
 width: 0;
 position: absolute;
 pointer-events: none;
}

.comments_first:after {
	border-color: rgba(207, 207, 207, 0);
    border-bottom-color: #f2fbff;
    border-width: 18px;
    left: 10%;
    margin-left: -18px
}

.last_block{
	margin-top: 21px;
	background-color: #f2f2f2;
	padding-top: 30px;
}


.buton{
	font-family: 'PTSans-CaptionBold';
	font-weight: bold;
	width: 50%;
	margin: 0 auto;
	margin-top: 24px;
	background-color: #fdd639;
	border-radius: 50px 50px 50px;
	padding: 19px 57px 16px 53px;
	
}


.comments_first p{
	        padding: 18px 85px 14px 20px;
	

}

.writes p{
	text-align: center;
	padding: 19px 57px 16px 53px;
}

.last_block{
	text-align: center;
}

.area_form{
	width: 91%;
	height: 65px;
	background-color: #fff;
	border:2px solid #a9a9a9;
	margin-left:4%;
}

.div2{
	font-family: 'Arial';
    font-size: 14px;
    position: relative;
    background: #f2fbff;
    border: 1px solid #cccccc;
    /* padding: 20px; */
    margin-top: 21px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
     margin-bottom: 15px;

}

.textarea1{
	margin:0 auto;
}

.div2:after, :before {
 bottom: 100%;
 border: solid transparent;
 content: " ";
 height: 0;
 width: 0;
 position: absolute;
 pointer-events: none;
}

.div2:after {
	border-color: rgba(207, 207, 207, 0);
    border-bottom-color: #f2fbff;
    border-width: 18px;
    left: 10%;
    margin-left: -18px
}

.div2{
	padding: 26px 92px 33px 20px;
}

.com{
	width: 90%;
    margin-top: 15px;
    border: 1px solid #a9a9a9;
    padding: 30px;
}


.div1{
    float: left;
    margin-right: 25px;
     float: left;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 14px;
    padding-right: 10px;
    margin-left: 18px;

}

.enter_text{
	font-size: 10px;
    font-weight: bold;
    color: grey;
    font-family: 'Arial';
    margin-right: 10px;
    margin-top: 5px;


}

#text2{
	margin-left: 4px;
	margin-top: 10px;

}

.div3{
	color: #959595;
    font-family: 'Arial';
    font-size: 14px;


}






